@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sponsor-card {
        @apply bg-accent p-8 w-[250px] h-[250px] m-auto md:min-w-[320px] md:h-[250px] rounded-lg flex flex-col
    }

    .sponsor-card img {
        @apply object-cover m-auto w-full
    }


    .section-button {
        @apply bg-primary text-white px-10 py-5 rounded-[30px] font-bold mb-3 capitalize
    }
}